<div class="login-page form">
  <form [formGroup]="regForm" (ngSubmit)="onSubmit(regForm.value)">
    <div class="form-group">
        <label for="firstname">First Name</label>
        <input type="text" class="form-control" formControlName="firstname" required  [ngClass]=" {'was-validated': submitted && !firstname.valid }" /> 
        <div *ngIf="submitted && !firstname.valid" class="help-block">
            First name is required
        </div>
    </div>
    <div class="form-group">
        <label for="lastname">Last Name</label>
        <input type="text" class="form-control" formControlName="lastname" required [ngClass]=" {'was-validated': submitted && !lastname.valid }"/>
        <div *ngIf="submitted && !lastname.valid" class="help-block">
            Last name is required
        </div>
    </div>
    <div class="form-group">
        <label for="username">Email ID</label>
        <input type="email" class="form-control" formControlName="email" required [ngClass]=" {'was-validated': submitted && !email.valid }"/>
        <div *ngIf="submitted && !email.valid" class="help-block">
            Email ID is required
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password" required minlength="6" [ngClass]=" {'was-validated': submitted && !password.valid }"/>
        <div *ngIf="submitted && !password.valid" class="help-block">
            Enter a valid password
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" >Register</button>
    </div>
    <p class="message">Already registered? <a routerLink="/login">Sign In</a></p>
  </form>
</div>

